<!DOCTYPE html>
<html>  
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="crossorigin="anonymous"></script>
        <!-- Latest compiled and minified CSS -->
    
    <title>EasyAuto</title>
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">EasyAuto</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
					<% if (typeof username == "undefined")  { %>
						<% if (typeof welcome != "undefined") { %>
							<li ><a href="/login">Login</a></li>
							<li ><a href="/sign-up">Sign Up</a></li>
						<% } %>
					<% } else { %>
						<% if (typeof profile == "undefined") { %>
						<li><a href="/profile">Profile</a></li>
						<% } %>
						<li><a href="/logout">Logout</a></li>
					<% } %>
                </ul>
            </div>
        </div>
    </nav>
        
