<% include partials/header %>
<div class="container">
    <div class='row'>
        <h1 style="text-align:center">Sign In</h1>
        <div style="width:30%; margin:25px auto">
			<% if (typeof errorLogin != "undefined")  { %>
			<div class="alert alert-danger">
				<%= errorLogin %>
			</div>
			<% } %>
            <form action="/login" method="POST">
                <div class="form-group">
                    <input class="form-control" placeholder="Username" type="text" name="username">
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Password" type="password" name="passwd">
                </div>
                <div class="form-group">
                    <input type ="submit" class="btn btn-lg btn-primary btn-block" value="Login">
                </div>
            </form>
			<p>Need an account? <a href="/signup">Signup</a></p>
            <a href="/">Go back</a>
			<p>Or go <a href="/">home</a>.</p>
        </div>
        
    </div>
</div>
<% include partials/footer %>