<div class="content">
	<div class="container_12">
		<div class="grid_6 prefix_3">
			<h3>Add a new car</h3>
				<form action="/newCar" method="POST" >
					<div class="form-group">
						<select class="selectpicker form-control" data-live-search="true" name="brand">
							<option selected="selected">Brand</option>
							<option value="volvo">Volvo</option>
							<option value="Audi">Audi</option>
							<option value="BMW">BMW</option>
							<option value="Opel">Opel</option>
							<option value="Porsche">Porsche</option>
							<option value="Honda">Honda</option>
						</select>
					</div>
					<div class="form-group">            	
						<select class="selectpicker form-control" name="Model">
							<option selected="selected">Model</option>
							<option value="volvo">Volvo</option>
							<option value="Audi">Audi</option>
							<option value="BMW">BMW</option>
							<option value="Opel">Opel</option>
							<option value="Porsche">Porsche</option>
							<option value="Honda">Honda</option>
						</select>
					</div>
					<div class="form-group">
						<input class="form-control" placeholder="Confirm password" type="password" name="passwd2" >
					</div>
					<div class="form-group">
						<input type ="submit" class="btn btn-lg btn-primary btn-block" value="Sign up">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>