<% include partials/header %>
<div class="container">
    <div class='row'>
        <h1 style="text-align:center">Post Your Car</h1>
        <div style="width:30%; margin:25px auto">
            <form action="/Car" method="POST">

            	<div class="form-group">
                  	<select id="newbrands" class="selectpicker form-control" data-live-search="true" name="Brand">
           	  		  <option selected="selected">Brand</option>
					  <option value="Jeep">Jeep</option>
					  <option value="GMC">GMC</option>
					  <option value="Ford">Ford</option>
					  <option value="Toyota">Toyota</option>
					</select>
             	</div>

    			<div id="newmodels" class="form-group">
                  	<select class="selectpicker form-control" name="Model">
						  <option selected="selected">Model</option>
					</select>
             	</div>

             	<div class="form-group">
                  	<select class="selectpicker form-control" name="Year">
                  	  <option selected="selected">Year</option>
					  <option>2017</option>
                      <option>2016</option>
                      <option>2015</option>
                      <option>2014</option>
                      <option>2013</option>
                      <option>2012</option>
                      <option>2011</option>
                      <option>2010</option>
                      <option>2009</option>
                      <option>2008</option>
                      <option>2007</option>
                      <option>2006</option>
                      <option>2005</option>
                      <option>2004</option>
					</select>
             	</div>

             	<div class="form-group">
                  	<select class="selectpicker form-control" name="Type">
                  	  <option selected="selected">Type</option>
					  <option>Sedan</option>
					  <option>SUV</option>
					  <option>Pickup</option>
					</select>
             	</div>

                <div class="form-group">
                    <input class="form-control" type= "text" placeholder="Price" name="Price" >
                </div>

                <div class="form-group">
                    <input class="form-control" type= "text" placeholder="Mileage" name="Mileage" >
                </div>

                <div class="form-group">
                    <input class="form-control" type= "text" placeholder="ImageURL" name="Image">
                </div>

                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>      
            </form>
            <a href="/">Go back</a>
        </div>
    </div>
</div>
<script>
	$(document).ready(function() {
    $("#newbrands").change(function(){
        var val = $(this).val();
        if (val == "GMC") {
            console.log(val);
            $("#newmodels").html("<select class='selectpicker form-control' name='Model'><option selected='selected'>Model</option><option value='Yukon'>Yukon</option><option value='Canyon'>Canyon</option></select>");
        }
        else if (val == "Jeep") {
            console.log(val);
            $("#newmodels").html("<select class='selectpicker form-control' name='Model'><option selected='selected'>Model</option><option value='Cherokee'>Cherokee</option><option value='Compass'>Compass</option></select>");

        } else if (val == "Ford") {
            console.log(val);
            $("#newmodels").html("<select class='selectpicker form-control' name='Model'><option selected='selected'>Model</option><option value='F-150'>F-150</option><option value='Fusion'>Fusion</option></select>");
        } else if (val == "Toyota") {
            console.log(val);
            $("#newmodels").html("<select class='selectpicker form-control' name='Model'><option selected='selected'>Model</option><option value='Prius'>Prius</option> <option value='Camry'>Camry</option> <option value='Corolla'>Corolla</option> <option value='Hignlander'>Hignlander</option></select>");
        }
        $('.selectpicker').selectpicker();
    });
});
</script>
<% include partials/footer %>
