<% include partials/header %>
<body>
<div class="container">
    <div class='row'>
        <h1 style="text-align:center">Find Your Car</h1>
        <div style="width:30%; margin:25px auto">
            <form action="/searchCars" method="POST" id="searchForm">			 
			    <div class="form-group">
					<select class="selectpicker" form="searchForm" name="model">
					<% for (var brand in models) { %>
						<optgroup label="<%= brand %>">
							<%  for (i=0; i < models[brand].length; i++) { %>
								<option value="<%= models[brand][i] %>"><%= models[brand][i] %></option>
							<% } %>
						</optgroup>
					<% } %>
					</select>
             	</div>	
				<div class="form-group">
                    <input type="submit" button class="btn btn-lg btn-primary btn-block" form="searchForm" value="Search">
                </div>
			</form>	
            <a href="/">Go back</a>
        </div>
    </div>
</div>
</body>
<% include partials/footer %>