<% include partials/header %>
    <h1>Audi</h1>
    <p>This is a brand new Audi</p>
    <img src="http://www.quattroworld.com/wp-content/uploads/2016/02/news-2016-audi-teardrop-rs7-still.jpg">
    
<% include partials/footer %>